// layout.less
// 华中大二手市场|逛

@import "../metro-wp/metro-wp.less";

*{
    margin: 0;
    padding: 0;
    border: 0 none;
}

html{
    height: 100%;
}


@-webkit-keyframes cursor1{
	0% {
		top: 0;
		right: 30px;
	}
	50% {
		top: 112.5%;
		right: 30px;
	}
	100% {
		top: 250%;
		right: 30px;
	}
}
@-moz-keyframes cursor1{
	0% {
		top: 0;
		right: 30px;
	}
	50% {
		top: 112.5%;
		right: 30px;
	}
	100% {
		top: 250%;
		right: 30px;
	}
}
@-webkit-keyframes cursor2{
	0% {
		top: 25%;
		right: -230px;
	}
	50% {
		top: 25%;
		right: -170px;
	}
	100% {
		top: 25%;
		right: 200px;
	}
}
@-moz-keyframes cursor2{
	0% {
		top: 25%;
		right: -230px;
	}
	50% {
		top: 25%;
		right: -170px;
	}
	100% {
		top: 25%;
		right: 200px;
	}
}
@-webkit-keyframes cursor3{
	0% {
		top: -200%;
		right: 30px;
	}
	50% {
		top: 25%;
		right: 30px;
	}
	100% {
		top: 25%;
		right: 400px;
	}
}
@-moz-keyframes cursor3{
	0% {
		top: -200%;
		right: 30px;
	}
	50% {
		top: 25%;
		right: 30px;
	}
	100% {
		top: 25%;
		right: 400px;
	}
}


//It doesn't fit in Metro style. But it is required to make the text visible.
.title{
	text-shadow: 2px 2px 3px #000;
}

//It is actually a bad practice to bind css code to js implementation class
.sign{
    position: absolute;
    bottom: -36px;
    width: 100%;
    height: 36px;
    font: @font-normaltext;
    background: orange;
    .price{
    	display: block;
    	position: absolute;
    	top: 0px;
    	left: 8px;
    	height: 28px;
    	line-height: 28px;
    }
    .addr{
    	display: block;
    	position: absolute;
    	top: 0px;
    	right: 16px;
    	height: 28px;
    	line-height: 28px;
    }
}

.webend1{
	background: green !important;
}
.webend2{
	background: blue !important;
}
.webend3{
	background: brown !important;
}

.cursor1{
	position: absolute;
	top: 0;
	right: 30px;
	-webkit-animation: cursor1 8s infinite alternate;
	.size(40px, 35px);
	background: url(../../Images/Sample/cursor.png) -35px 0px no-repeat;
}
.cursor2{
	position: absolute;
	top: 25%;
	right: -170px;
	-webkit-animation: cursor2 8s infinite alternate;
	.size(40px, 35px);
	background: url(../../Images/Sample/cursor.png) 0px 0px no-repeat;
}
.cursor3{
	position: absolute;
	top: -200%;
	right: 30px;
	-webkit-animation: cursor3 8s infinite alternate;
	.size(40px, 35px);
	background: url(../../Images/Sample/cursor.png) 0px 0px no-repeat;
}