// metro-wp.less
// Windows Phone Style Metro

@import "metro-reset.less";
@import "metro-variables.less";
@import "custom-variables.less";
@import "mixins.less";
@import "metro-wp-css3.less";



.metro{
    width: 200%;//wide enough
    height: 100%;
    background: @bg;
    .background-size(cover);
    color: @color;
    .metro-header{
        position: relative;
        height: @size-header-h;
        .metro-h1{
            position: absolute;
            bottom: 0;
            font: @font-header;
        }
    }
    .metro-body{
        height: @size-body-h;
        overflow: hidden;
        .metro-section{
            float: left;
            height: 100%;
            padding-right: 80px;

            .metro-h2{
                height: @size-h2-h;
                padding-left: 10px;//minor adjustment
                font: @font-subheader;
            }
            .metro-container{
                .size(@size-container-h, @size-tile-w*5);

                .container(@n){
                    .size(@size-container-h, @size-tile-w*@n);
                }

                &.metro-container-1{ .container(1); }
                &.metro-container-2{ .container(2); }
                &.metro-container-3{ .container(3); }
                &.metro-contaienr-4{ .container(4); }
                &.metro-container-5{ .container(5); }
                &.metro-container-6{ .container(6); }
                //...

                .metro-tile{
                    float: left;
                    .size(@size-tile-h, @size-tile-w);
                    overflow: hidden;

                    &.metro-portrait{
                        height: @size-tile-h*2;
                    }
                    &.metro-landscape{
                        width: @size-tile-w*2;
                    }
                    &.metro-cube{
                        .size(@size-tile-h*2, @size-tile-w*2);
                    }
                    &.clearleftfix{
                      clear: left;
                    }//fix certain float bug

                    .metro-content{
                        .square(100%);
                        margin: @size-tile-gap 0 0 @size-tile-gap;
                        background: @tilebg;
                        cursor: pointer;
                        //.transition(0.2s linear);
                    }
                }
            }
        }
    }
}
